<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstApp">
        <activity
            android:name=".ReadStringActivity"
            android:exported="true">

            <!--在Activity内部提供元数据（metadata）-->
            <meta-data android:name="weather" android:value="晴天" />
        </activity>
        <activity
            android:name=".ActRequestActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ActResponseActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ActReceiveActivity"
            android:exported="false" />
        <activity
            android:name=".ActSendActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ActionUrlActivity"
            android:exported="true"></activity>
        <activity
            android:name=".LoginSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".LoginInputActivity"
            android:exported="true"></activity>
        <activity
            android:name=".JumpSecondActivity"
            android:exported="false" />
        <activity
            android:name=".JumpFirstActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ActFinishActivity"
            android:exported="false" />
        <activity
            android:name=".ActStartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--告诉App首页有个快捷方式菜单-->
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>