<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstApp">
        <activity
            android:name=".CalculatorActivity"

            android:exported="true"><!--是否允许其他的应用访问-->
            <!--桌面启动-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--其他应用启动-->
            <intent-filter>
                <action android:name="android.intent.action.LiuSir" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageScaleActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ButtonEnableActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ButtonClickActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ButtonStyleActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ScrollViewActivity"
            android:exported="true" />
        <activity
            android:name=".GridLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".RelativeLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".LinearLayoutActivity"
            android:exported="true" />
        <!--
                <activity
            android:name=".ViewGravityActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".TextSizeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ViewGravityActivity"
            android:exported="true" />
    </application>

</manifest>